.community-hero-banner {
  margin-bottom: 2rem;
}
.community-hero-banner__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.25rem;
}

.community-hero-banner__link {
  text-decoration: none;
}
